project/cache/offline_weather_*.sqlite filter=lfs diff=lfs merge=lfs -text
project/cache/offline_weather.sqlite filter=lfs diff=lfs merge=lfs -text
project/cache/offline_weather_*test*.sqlite filter=lfs diff=lfs merge=lfs -text
